/* HEADER */
body {
    margin: 0;
}

header {
    background-image: url(../img/pattern.png);
    height: 125px;
    padding-top: 50px;
    background-color: #4ea0ff;
}

.logo_boolean {
   
    height: 3.5em;
    padding-top: 50px;
}
/* / HEADER */

/* MAIN */  

 /* SECTION-1  */
 .section-1 {
    margin-left: 10px; 
}

h1 {
    font-size: 3.5em;
    margin-top: 20px;
}

a {
    color: #3db4e8;
    text-decoration: none;
}

.tim-photo-1 {
    width: 50%;
    height: 500px;
    
}

.tim-photo-2 {
    width: 45%;
    height: 500px;
   
}

.under_title {
    margin-bottom: 40px;
    margin-top: -40px;
    color: #939393;
    font-size: 1.5em;
}

.testo-tim {
    font-size: 20px;
    display: block;
}
/* / SECTION-1 */

/* SECTION-2 */
.section-2, .section-3 {
    font-size: 1.5em;
}

.yellow-color {
    background-color: yellow;
}

.lorem-1 {
    margin-left: 10px;
}
/* / SECTION-2 */


/* SECTION-3  */
/* SECTION-3 FONT-SIZE IS WITH CSS SECTION-2 SELECTOR */
table{
    position: relative;
    border-collapse: collapse;
    margin-left: 10px ;
    margin-right: 10px;
}

thead {
    background-color:#20a9e5;
    color: white;
   

}

.colonna-1, .colonna-2 {
    width: 25%;
}
 .colonna-3 {
    width: 48%;
 }

.row-blue {
background-color: #b1e5f2;
}
/* / SECTION-3 */